# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# uv / venv
.venv/

# tooling caches
.pytest_cache/
.ruff_cache/
.mypy_cache/

# build artifacts
*.docx
!tests/**/*.docx


# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
